@using SevenSpikes.Nop.Plugins.RichBlog.Models;

@model RichBlogImageModel

@{
    var supportRtl = this.ShouldUseRtlTheme();
    var theme = (string)ViewBag.Theme;

    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.RichBlog/Themes/" + theme + "/Content/RichBlog.css");
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.RichBlog/Themes/" + theme + "/Content/RichBlog.rtl.css");
    }
}

@if (!string.IsNullOrEmpty(Model.BlogPostUrl) && !string.IsNullOrEmpty(Model.BlogPostImageUrl))
{
    <div class="rich-blog-image">
        @if (Model.IsBlogDetailsPage)
        {
            <img src="@Model.BlogPostImageUrl" title="@Model.BlogPostTitle" alt="@Model.BlogPostTitle" />
        }
        else
        {
            <a href="@Model.BlogPostUrl" alt="@Model.BlogPostTitle"><img src="@Model.BlogPostImageUrl" title="@Model.BlogPostTitle" alt="@Model.BlogPostTitle" /></a>
        }
    </div>
}